.yearWrapper {
    width: 100%;
    min-height: 250px;
    padding-top: 5%;
}

.form-control {
    width: 50%;
    margin: 0 auto;
    border-radius: 0px;
}

.inputsdiv {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 60%;
    height: 15vh;
    border-radius: 15px;
    background-color: rgb(229, 249, 250);
}

.bar {
    width: 50%;
    background-color: rgb(229, 249, 250);
    border-radius: 25px;
}

.progress {
    width: 30%;
    background-color: rgb(55, 212, 121);
    border-radius: 25px;
}

.detailsdiv {
    /* border: 2px solid red; */
    width: 60%;
    display: flex;
    justify-content: space-around;
    height: 42px;
    background-color: rgb(229, 249, 250);
    border-radius: 15px;
    margin-bottom: 10px;
}

.no {
    display: flex;
    align-items: center;
}

.yeardiv {
    display: flex;
    flex-direction: column;
}

.yearvalue {
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid blue; */
    align-items: center;
}

.yeardiv select {
    border-radius: 10px;
}

.revenuediv {
    display: flex;
    flex-direction: column;
}

.revenuediv input {
    border-radius: 10px;
    padding-left: 5px;
}

.add {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.add button {
    border-radius: 10px;
    width: 60px;
    background-color: rgb(55, 212, 121);
}

.removebtn {
    border-radius: 10px;
    width: 70px;
    /* background-color: rgb(55, 212, 121); */
    color: red;
}

.removediv {
    display: flex;
    align-items: center;
}

.headin {
    color: rgb(55, 212, 121);
}

.mainpagediv {
    margin-left: 350px;
}