.profilleimage {
    height: 16vh;
    width: 7vw;
    border-radius: 60px;
}

.sd-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.sidebarmaindiv {
    background-color: #31cf3a;
    width: 10vw;
}

.optionslist {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
}

.sd-link {
    border: 1px solid white;
    height: 40px;
    text-align: center;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}